<%- partial('_partial/head') %>
<body style="
<% if (theme.background.image) { %>
  background: url(<%= theme.background.image %>) center center no-repeat;
  background-size: contain;
<% } %>
<% if (theme.background.color) { %>
  background-color: <%= theme.background.color %>
<% } %>
">
  <div id="container">
    <%- partial('_partial/nav') %>
    <div id="main"><%- body %></div>
    <%- partial('_partial/footer') %>
  </div>
</body>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?<%= config.baidu_tongji %>";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</html>